<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.username %>, there is a new massage in thread "<%= @thr.title %>"</h2>
    <p>
      <%= @post.content %>
    </p>
  </body>
</html>