    <div class="jumbotron">
        <h1><center>Imageboard</center></h1>
            <p><b>Imageboard</b> is a simple image-based bulletin board where anyone can post comments and share images. There are boards dedicated to a variety of topics. Users need to register an account before participating in the community. Feel free to click on a board left that interests you and jump right in!</p>
            <p>Be sure to read the <%= link_to 'FAQ', faq_path %> if you wish to learn more about how to use the site.</p>
            <% unless user_signed_in? %>
                <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success", role: "button" %>
                <%= link_to "Login", new_user_session_path, class: "btn btn-primary", role: "button" %></p>
            <% end %>    
    </div>  
<center><h2>Updated Threads</h2></center><br>
<%- @thrs.each do |thr| %> 
    <%= render partial: 'boards/op_post', :locals => { post: thr.posts.op_post, thr: thr, board: thr.board } %>          
<% end %>