<table style="width:100%" class="table">
    <tr>
        <th>Email</th>
        <th>Created</th>
        <th>Sign in</th>
        <th>Last sign in</th>
        <th>Bunned</th>
        
    </tr>   
    <% @users.order(created_at: :desc).each do |user| %>
        <tr>
            <td><b><%= user.email %><b></td>
            <td><%= user.created_at %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.last_sign_in_at %></td>
            <td></td>
            
        </tr>       
    <% end %>
<table>