/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jasny-bootstrap
 *= require jquery-ui
 *= require social-share-button
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html {
    position: relative;
    min-height: 100%;
}

body {
	margin: 70px 0 75px;
	height:100%;
}

/*error_messases*/
#error_explanation {
  padding-top: 15px;
  color: red;
  ul {
    color: red;
    margin: 0 0 15px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.post_panel{
    margin-bottom: 5px;
}

.footer {
	margin-bottom: 0;
	 position: absolute;
	 bottom: 0;
	 width: 100%;
}



